/* Basic css styles */
body{
    background-color: rgb(0, 36, 36);
    color: #fff;
}
.right-part{
    background-color: rgba(2, 131, 131, 0.424);
}

.calculation p{
    text-align: right;
    margin-right: 30%;
}
button{
    margin: 5px;
    padding: 5px 50px;
    background-color: rgb(39, 126, 212);
    border-radius: 2px;
    border: none;
    margin-bottom: 20px;
}
h5{
    margin-bottom: 20px;
}
img{
    height: 100%;
    width:  100%;
}

.error{
    color: red;
    display: none;
    text-align: center;
}

@media  screen and (max-width: 750px) {
    .calculation p{
        text-align: center;
        margin-right: 0;
    }
}